{% extends 'base.html.twig' %}

{% block body %}
{{ include('nav/navbar.html.twig') }}

<h1>New pin</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<input type="submit" value="Créer le pin">
{{ form_end(form) }}

{% endblock %}