{% extends 'base.html.twig' %}

{% block body %}
{{ include('nav/navbar.html.twig') }}

<h1>Modifier le pin #{{ pin.id }}</h1>

{{ include('pins/_form.html.twig', {'submitButtonText': 'modifier'}) }}

{% endblock %}