{% extends 'pins/layout_pins_app.html.twig' %}

{% block body %}

	<div>
		<div>
			
			<h1>Modifier le pin #{{ pin.id }}</h1>

			{{ include('pins/partials/_form.html.twig', {'submitButtonText': 'modifier'})}}
		</div>
	</div>
	

{% endblock %}