{% extends 'base.html.twig' %}
{% block body %}

<h1>Dorian</h1>

<div class="job-title">Développeur Web PHP Symfony</div>

    <div class="container">
       <div class="card">
          <div class="face face1">
             <div class="content">
                <img src="{{ asset('images/card.png') }}">
                <h3>About</h3>
             </div>
          </div>
          <div class="face face2">
             <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                <a href={{ path('app_about') }}>Read More</a>
             </div>
          </div>
       </div>
       <div class="card">
          <div class="face face1">
             <div class="content">
                <img src="{{ asset('images/card.png') }}">
                <h3>PHP</h3>
                <h3>Symfony</h3>
             </div>
          </div>
          <div class="face face2">
             <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                <a href="#">Read More</a>
             </div>
          </div>
       </div>
       <div class="card">
          <div class="face face1">
             <div class="content">
                <img src="{{ asset('images/card.png') }}">
                <h3>Projets</h3>
             </div>
          </div>
          <div class="face face2">
             <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                <a href="#">Read More</a>
             </div>
          </div>
       </div>
    </div>



{% endblock %}
