{% extends 'base.html.twig' %}
{% block body %}

<h1>Dorian</h1>

<div class="job-title">Développeur Web PHP Symfony</div>

<div class="wrapper">
  <div class="box1">Développeur web depuis peu, je propose mes services pour le développement d’application web et de sites internet sur mesure.
Développeur backend, et plus spécifiquement sur PHP et le framework Symfony j'ai débuté l'apprentissage du développement objet en passant par Java. 
Je travail depuis des années sur environnement linux.
Je peux réaliser un projet de A à Z ou bien partir sur quelque chose d'existant.
</div>
  <div class="box2">Parlant couramment <em>Anglais et Allemand</em>, il me sera possible d'intégrer ces langues à tout types de projets, je dispose également des ressources nécessaire à la création d'un site Web en <em>italien</em>. Si vous souhaitez donc par exemple étendre votre public à ces zones linguistiques je suis la personne qu'il vous faut.</div>
</div>



{% endblock %}
