{% extends 'base.html.twig' %}
{% block body %}

<h1>Dorian</h1>

<div class="job-title">Développeur Web PHP Symfony</div>

    <div class="container">
       <div class="card">
          <div class="face face1">
             <div class="content">
                <img src="{{ asset('images/card.png') }}" alt="bannière">
                <h3>Design</h3>
             </div>
          </div>
          <div class="face face2">
             <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                <a href="#">Read More</a>
             </div>
          </div>
       </div>
       <div class="card">
          <div class="face face1">
             <div class="content">
                <img src="{{ asset('images/card.png') }}" alt="bannière">
                <h3>Code</h3>
             </div>
          </div>
          <div class="face face2">
             <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                <a href="#">Read More</a>
             </div>
          </div>
       </div>
       <div class="card">
          <div class="face face1">
             <div class="content">
                <img src="{{ asset('images/card.png') }}" alt="bannièree">
                <h3>Launch</h3>
             </div>
          </div>
          <div class="face face2">
             <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                <a href="#">Read More</a>
             </div>
          </div>
       </div>
    </div>



{% endblock %}
