{% extends 'base.html.twig' %}

{% block title 'Projets | ' ~ parent() %}  

{% block body %}
<h1>Projets <span class="heart">&hearts;</span> </h1>
<p><a href="{{ path('app_home') }}">Retour à la page d'accueil</p>
	{% endblock %}

