<footer class="container text-center mt-5">
    <p class="text-muted">
        <small>
            &copy; {{ 'now'|date('Y') }}
            &middot; <a href="{{ path('app_about') }}">A propos</a>
        </small>
    </p>
</footer>