
<nav class="nav">
	<div class="nav__title">
		<a href="{{ path('app_pins') }}">Epintérêt</a>
	</div>		
	<ul class="nav__list">
		<li class="nav__item">
			<a href="{{ path('app_pins_create') }}">Nouveau Pin<span class="sr-only"></span></a>
		</li>
		<li class="nav__item">
			<a href="#">Compte</a>
		</li>
		<li class="nav__item">
			<a href="{{ path('app_projets') }}">Projets</a>
		</li>
		<li class="nav__item">
			<a href="{{ path('app_home') }}">Accueil Site</a>
		</li>

	</ul>

	
	
</nav>