<nav class="nav">
	<ul>
		<li><a href="{{ path('app_home') }}">Accueil Site</a></li>
		<li><a href="{{ path('app_pins') }}">Accueil Projets</a></li>
		<li><a href="{{ path('app_pins_create') }}">Nouveau Pin</a></li>
		<li><a href="#">Compte</a></li>
		<li><a href="#">Déconnexion</a></li>
	</ul>
</nav>